.test-user
  %h1 选择测试用户
  %form.form1
  - @user.each do |user|
    %input.user-login{:type => "radio", :name => "radiobutton", :value => user.im_token, :id => user.id, :username => user.name}= user.name
.private
  %h1 单聊
  %h2 选择聊天对象
  %form.form3
  - @user.each do |user|
    %input.user-name{:type => "radio", :name => "radiobutton", :id => user.id}= user.name
  %input.message-content
  %button.send-private-message 发送
  
.chat-room
  %h1 群聊
  %h2 选择用户创建讨论组
  %form.form2
  - @user.each do |user|
    %input.check-box{:type => "checkbox", :id => user.id}= user.name
  .chatroom
    请输入讨论组名称：
    %input.discussion-name
    %button.create_chatroom 创建讨论组
  %button.get-chat-room-list 获取讨论组列表
  %form.chat-room-list
  .chat-room-operations
    %button.quit-chat-room 退出讨论组
    %button.get-user-list 获取成员列表
    %button.invite-others 邀请其他用户
  %input.message
  %button.send-chat-room-message 发送