<!DOCTYPE html>
<html>
<head>
  <title>RongyunChatroom</title>
  <script src="https://cdn.ronghub.com/RongIMLib-2.2.3.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
